* {
    margin: 0rem;
    padding: 0rem;
    font-size: 62.5%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-weight: 450;
  }
  
  nav {
    background-color: #131c27;
    color: white;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 15vh;
    z-index: 1;
  }
  
  nav div {
    display: flex;
    width: 90vw;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    width: 30vw;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 0 1rem;
  }
  
  nav li {
    margin: 0 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }
  
  h1 {
    font-family: "Pattaya", sans-serif;
    font-size: 2.8rem;
    font-weight: 350;
    margin: 1rem 0;
  }
  
  h2 {
    font-size: 4.5rem;
    margin: 2.5rem;
  }
  
  section {
    background-color: #999999;
    background-repeat: none;
    background-position: center;
    height: 100vh;
    background-size: cover;
  }
  .exception{
    background-color: #999999;
    background-repeat: none;
    background-position: center;
    height: 62vh;
    background-size: cover;

  }
  .mountain{
    background-image: url(landing-page.jpg);
    background-blend-mode: multiply;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .mountain button {
    padding: 2rem 6rem 2rem 6rem;
    font-size: 2rem;
    background-color: #4c6e97;
    color: white;
    border: 0 none white;
  }
  article {
    margin: 2.5rem;
    font-weight: 300rem;
    font-size: 4.5rem;
  }
  .newyork {
    background-image: url(new-york-page.png);
    flex-direction: column;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 4rem;
  }
  hr {
    border: 2px solid white;
    margin: -1vw 0 0 1.5vw;
    width: 33.3vh;
   
  }
  .blahblah{
    margin: -1vw 0 0 1.4vw;
  }

  .blueinfo{
height: 25vh;
background-color: #131c27 ;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
font-size: 4rem;
  }
.txtblue{
margin: -2vw 0 0 0;
}
.threethings{
display: flex;
align-items: stretch;
justify-content: space-evenly;
background-color: white;
padding: 5vw 0 0 0;
}
.box1{
height: 40vh;
width: 25vw;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
text-align: center;
font-size: 3rem;
border-top: 12vh solid #131c27;
}
.box2{
  height: 40vh;
  width: 25vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  text-align: center;
  font-size: 3rem;
  border-top: 12vh solid #131c27;
  }
  .box3{
    height: 40vh;
    width: 25vw;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    text-align: center;
    font-size: 3rem;
    border-top: 12vh solid #131c27;
  }
 .txt{
  margin: 3vw 0 0 0;

 }
 .icon1{
  width: 4vw;
  height: 6vh;
margin: -5vw 0 0 -1.7vw;
position: absolute;
 }
.mountainlast{
  background-image: url(contact-mountain.png);
  background-blend-mode: multiply;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
footer{
background-color: #131c27;
display: flex;
color: white;
}
.boxv2{
 height: 45vh;
width: 55vw;
border-bottom: 5rem solid #4c6e97;
border-radius: 2vh;
opacity: 80%;
background-color: #131c27;

}
.Txtlogins{
margin: 0vw 0 0 2.3vw;
width: 12vw;
height: 3vh;
}
.Txtlogins2{
  font-size: 3rem;
  margin: 0vw 0 0 0vw;
  width: 12vw;
  }
  .footer1{
    font-family: "Pattaya", sans-serif;

  }
 .footerflex{
display: flex;
align-items: stretch;
justify-content: space-between;
width: 100vw;
height: 10vh;
align-items: center;

 }
 .icons-container{
  display: flex;
  align-items: center;
  margin: 2vw 0 0 0;
 }
 .iconv1{
width: 7vw;
height: 6vh;

 }
 .iconv2{

  width: 7vw;
  height: 6vh;
  
}
.iconv3{

  width: 7vw;
  height: 6vh;
  
}
.button2{

 color: white;

  margin: 10vw 0 0 0;
}
.button2 p{
  color: white;
  height:rem;
  width: rem;
  font-size: 3rem;
  background-color: #4c6e97;
}

@media only screen and (max-width: 597px)  {
  body{

    
  }
}
